.catalog {
   &__row {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
   }
   .title {
      font-size: 30px;
      color: #0d0d0d;
      text-align: center;
      width: 100%;
   }
   &__tabs {
      margin-top: 69px;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__tab {
      width: 220px;
      height: 50px;
      font-family: "Museo Sans Cyrl";
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      color: #6b6b6b;
      text-align: center;
      line-height: 48px;
      border: 1px solid black;
      margin: 0 5px;
      transform: skewX(-25deg);
      cursor: pointer;
      div {
         transform: skewX(25deg);
      }
      &-active {
         background-color: #c70101;
         font-size: 18px;
         font-weight: 500;
         text-transform: uppercase;
         color: #ffffff;
      }
      &:hover {
         box-shadow: 5px 5px 20px #c70101;
      }
   }
   &__items {
      overflow: hidden;
      margin-top: 30px;
      width: 300px;
      min-height: 440px;
      border: 2px solid #e8e8e8;
      padding: 20px 20px 26px 20px;
   }
   &__img {
      display: block;
      margin: 0 auto;
      height: 200px;
   }
   &__subtitle {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 700;
      color: #0d0d0d;
      text-align: center;
   }
   &__deskr {
      width: 250px;
      margin-top: 16px;
      font-size: 14px;
      font-weight: 300;
      color: #0d0d0d;
      text-align: center;
   }
   &__link {
      margin-top: 17px;
      display: block;
      font-size: 14px;
      font-weight: 700;
      text-decoration: underline;
      color: #c70101;
      text-align: center;
      &:hover {
         color: #c70101;
      }
   }
   &__price {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
   }
   &__price-old {
      font-size: 14px;
      font-weight: 300;
      color: #555555;
      text-decoration: line-through;
   }
   &__price-new {
      font-size: 20px;
      font-weight: 700;
      color: #050505;
   }
   &__wrapper {
      display: flex;
      width: calc(200% + 40px);
   }
   &__content {
      width: 50%;
      margin-right: 0px;
      transition: 0.5s all;
      transform: translateX(-100%);
      &-active {
         margin-right: 30px;
         transform: translateX(0%);
      }
   }
   &__list {
      position: relative;
      ul {
         width: 250px;
         list-style-type: none;
         padding: 0;
      }
      li {
         margin-bottom: 20px;
         font-size: 14px;
         line-height: 1.2;
         font-weight: 300;
         color: #555555;
         position: relative;
         &::before {
            content: "";
            position: absolute;
            left: -10px;
            top: 8px;
            height: 5px;
            width: 5px;
            background-color: #c70101;
         }
      }
      &-link {
         display: block;
         position: absolute;
         bottom: 0px;
         display: block;
         font-size: 14px;
         font-weight: 700;
         text-decoration: underline;
         color: #c70101;
         text-align: center;
         left: 50%;
         transform: translateX(calc(-50% + -10px));
         &:hover {
            color: #c70101;
         }
      }
      width: 50%;
      margin-left: 20px;
      transition: 0.5s all;
      transform: translateX(0%);
      &-active {
         margin-left: 0px;
         transform: translateX(-100%);
      }
   }
   &__second {
      display: none;
      &-active {
         display: block;
      }
   }
}

.button__mini {
   width: 131px;
   height: 40px;
   background-color: #c70101;
   border-radius: 5px;
   font-size: 14px;
   font-weight: 500;
   text-transform: uppercase;
   color: #ffffff;
}
