.consultation {
   min-height: 680px;
   padding: 100px 0 92px 0;
   text-align: left;
   background: url(../images/bg/Sec2_bg.png) center (center/cover no-repeat);
   &__text {
      margin-top: 80px;
      font-family: "Museo Sans Cyrl";
      font-size: 20px;
      font-weight: 500;
      color: #ffffff;
      max-width: 400px;
   }
   .error {
      border: 1px solid red;
   }
   label.error {
      color: white;
      border: none;
      margin-bottom: 10px;
      text-align: center;
   }
}
