.courusel {
   padding: 81px 0;
   &__slick {
      position: relative;
      max-width: 750px;
      margin: 0 auto;
      img {
         width: 100%;
      }
      .slick-prev {
         position: absolute;
         top: 50%;
         left: -66px;
         transform: translateY(-50%);
         border: none;
         background-color: white;
         width: 31px;
         height: 50px;
         img {
            border: none;
         }
      }
      .slick-next {
         position: absolute;
         top: 50%;
         right: -66px;
         transform: translateY(-50%);
         border: none;
         background-color: white;
         width: 31px;
         height: 50px;
         img {
            border: none;
         }
      }
   }
   .slick-active {
      button {
         background-color: black;
         width: 10px;
         border-radius: 100%;
         height: 10px;
      }
   }
}
.slick-dots {
   display: flex;
   list-style-type: none;
   justify-content: center;
   li {
      margin-left: 8px;
   }
   button {
      background-color: white;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      font-size: 0;
      border: 1px solid black;
   }
}
